<link rel="stylesheet" href="/stylesheets/animationbar.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>

">
<div id="animationbar">
  <div class="marquee">
    <ul class="marquee-content">
      <li><i class="fa-solid fa-dumbbell"></i></li>
      <li><i class="fa-solid fa-fire-flame-curved"></i></li>
      <li><i class="fa-solid fa-bolt"></i></li>
      <li><i class="fa-solid fa-trophy"></i></li>
      <li><i class="fa-solid fa-heart-pulse"></i></li>
      <li><i class="fa-solid fa-bottle-water"></i></li>
      <li><i class="fa-regular fa-calendar-check"></i></li>
    </ul>
  </div>
</div>

<script src="/stylesheets/scripts/workoutslider.js"></script>
