<link rel="stylesheet" href="/stylesheets/banner.css" />

<div class="carousel">
    <div class="list">
        <div class="item" style="background-image: url(/stylesheets/images/arms.jpeg);">
            <div class="content">
                <h3 class="title">SLIDER</h3>
                <h4 class="name">info</h4>
                <p class="des"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</p>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/Untitled-14.png);">
            <div class="content">
                <h3 class="title">SLIDER</h3>
                <h4 class="name">info</h4>
                <p class="des"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</p>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/victor-freitas-WvDYdXDzkhs-unsplash.jpg);">
            <div class="content">
                <h3 class="title">SLIDER</h3>
                <h4 class="name">info</h4>
                <p class="des"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</p>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/gabin-vallet-J154nEkpzlQ-unsplash.jpg);">
            <div class="content">
                <h3 class="title">SLIDER</h3>
                <h4 class="name">info</h4>
                <p class="des"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</p>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/abs.jpeg);">
            <div class="content">
                <h3 class="title">SLIDER</h3>
                <h4 class="name">info</h4>
                <p class="des"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</p>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/luis-reyes-mTorQ9gFfOg-unsplash.jpg);">
            <div class="content">
                <h3 class="title">SLIDER</h3>
                <h4 class="name">info</h4>
                <p class="des"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</p>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/adam-wilson-gNzqerPFtWs-unsplash.jpg);">
            <div class="content">
                <h3 class="title">SLIDER</h3>
                <h4 class="name">info</h4>
                <p class="des"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</p>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Next prev button -->
    <div class="arrows">
        <button class="prev"> < </button>
        <button class="next"> > </button>
    </div>

    <!-- Time running -->
    <div class="timeRunning"></div>
</div>

<script src="/stylesheets/scripts/banner.js"></script>
