<link rel="stylesheet" href="/stylesheets/banner.css" />

<div class="carousel">
  <div class="list">
    <div
      class="item"
      style="background-image: url(/stylesheets/images/banner7.jpg)"
    >
      <div class="content">
        <h3 class="title">TRAIN</h3>
        <h3 class="name">ARMS</h3>
        <p class="des">Train je armen op een leuke manier!</p>
        <div class="btn">
          <button>Meer Informatie</button>
          <button>Train Arms</button>
        </div>
      </div>
    </div>

    <div
      class="item"
      style="background-image: url(/stylesheets/images/banner6.jpg)"
    >
      <div class="content">
        <h3 class="title">CRUNCHES</h3>
        <h3 class="name">ABS</h3>
        <p class="des">Train je abs met deze workout</p>
        <div class="btn">
          <button>Meer Informatie</button>
          <button>Train Abs</button>
        </div>
      </div>
    </div>

    <div
      class="item"
      style="background-image: url(/stylesheets/images/banner4.jpg)"
    >
      <div class="content">
        <h3 class="title">Weight</h3>
        <h3 class="name">Lifting</h3>
        <p class="des">Lift zware gewichten met jouw buddy en wordt sterker!</p>
        <div class="btn">
          <button>See More</button>
          <button>Zoek Buddy</button>
        </div>
      </div>
    </div>

    <div
      class="item"
      style="
        background-image: url(/stylesheets/images/banner6.jpg);
      "
    >
      <div class="content">
        <h3 class="title">Train</h3>
        <h3 class="name">Samen</h3>
        <p class="des">Vind een buddy en train buiten met elkaar!</p>
        <div class="btn">
          <button>Meer informatie</button>
          <button>Zoek Buddy</button>
        </div>
      </div>
    </div>

    <div
      class="item"
      style="background-image: url(/stylesheets/images/banner8.jpg)"
    >
      <div class="content">
        <h3 class="title">Abs</h3>
        <h3 class="name">training</h3>
        <p class="des">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum
          sunt unde ab vel.
        </p>
        <div class="btn">
          <button>Meer Informatie</button>
          <button>Maak Een Plan</button>
        </div>
      </div>
    </div>

    <div
      class="item"
      style="
        background-image: url(/stylesheets/images/banner9.jpg);
      "
    >
      <div class="content">
        <h3 class="title">HEAVY</h3>
        <h3 class="name">WEIGHTS</h3>
        <p class="des">
          Til loei zware gewichten in één van onze gyms en wordt een stuk
          fitter.
        </p>
        <div class="btn">
          <button>Meer Informatie</button>
          <button>Maak Een Plan</button>
        </div>
      </div>
    </div>

    <div
      class="item"
      style="
        background-image: url(/stylesheets/images/banner9.jpg);
      "
    >
      <div class="content">
        <h3 class="title">Train</h3>
        <h3 class="name">Samen</h3>
        <p class="des">
          Gebruik één van onze trainingsruimtes om samen met een groep te gaan
          trainen!
        </p>
        <div class="btn">
          <button>Meer informatie</button>
          <button>Zoek Buddy</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Next prev button -->
  <div class="arrows">
    <button class="prev"><</button>
    <button class="next">></button>
  </div>

  <!-- Time running -->
  <div class="timeRunning"></div>
</div>

<marquee loop="-1"
  >Welkom bij FitBuddy – Jouw persoonlijke gids naar een gezonder leven! 🎉
  Sluit je vandaag nog aan en ontdek hoe je jouw fitnessdoelen kunt bereiken met
  op maat gemaakte trainingen en voedingsadvies! 💪 #FitBuddy #GezondLeven
  #FitnessDoelen
</marquee>

<script src="/stylesheets/scripts/banner.js"></script>
