<link rel="stylesheet" href="/stylesheets/banner.css" />

<div class="carousel">
  <div class="list">
    <div class="item" style="background-image: url(/stylesheets/images/banner7.jpg)">

      <div class="content">
        <h2 class="title">Train</h2>
        <h2 class="name">Arms</h2>

        <p class="des">Train je armen op een leuke manier!</p>

        <div class="btn">
          <button><a href="/error"> Meer Informatie</a></button>
          <button><a href="/trendingworkouts">Train arms</a></button>
        </div>

      </div>
    </div>

    <div class="item" style="background-image: url(/stylesheets/images/banner6.jpg)">

      <div class="content">
        <h2 class="title">Zoek</h2>
        <h2 class="name">Buddy</h2>

        <p class="des">Zoek een buddy en train samen!</p>

        <div class="btn">
          <button><a href="/error"> Meer Informatie</a></button>
          <button><a href="/overzicht">Zoek buddy</a></button>
        </div>

      </div>
    </div>

    <div class="item" style="background-image: url(/stylesheets/images/banner4.jpg)">

      <div class="content">
        <h2 class="title">Weight</h2>
        <h2 class="name">Lifting</h2>
        
        <p class="des">Lift zware gewichten met jouw buddy en wordt sterker!</p>

        <div class="btn">
          <button><a href="/error"> Meer Informatie</a></button>
          <button><a href="/trendingworkouts">Zoek buddy</a></button>
        </div>

      </div>
    </div>

    <div class="item" style="
        background-image: url(/stylesheets/images/banner6.jpg);">
      <div class="content">

        <h2 class="title">Train</h2>
        <h2 class="name">Samen</h2>

        <p class="des">Vind een buddy en train buiten met elkaar!</p>

        <div class="btn">
          <button><a href="/error"> Meer Informatie</a></button>
          <button><a href="/overzicht">Zoek buddy</a></button>
        </div>

      </div>
    </div>

    <div class="item" style="background-image: url(/stylesheets/images/banner8.jpg)">
      <div class="content">
        
        <h2 class="title">Abs</h2>
        <h2 class="name">training</h2>

        <p class="des">
          feel the burn en doe crunches!
        </p>

        <div class="btn">
          <button><a href="/error"> Meer Informatie</a></button>
          <button><a href="/trendingworkouts">Zoek buddy</a></button>
        </div>

      </div>
    </div>

    <div class="item" style="
        background-image: url(/stylesheets/images/banner9.jpg);">
      <div class="content">

        <h2 class="title">Heavy</h2>
        <h2 class="name">Weights</h2>

        <p class="des">
          Wordt een stuk sterker en til heavy weights
        </p>

        <div class="btn">
          <button><a href="/error"> Meer Informatie</a></button>
          <button><a href="/trendingworkouts">Zoek buddy</a></button>
        </div>

      </div>
    </div>

    <div class="item" style="
        background-image: url(/stylesheets/images/banner9.jpg); ">

      <div class="content">
        <h2 class="title">Train</h2>
        <h2 class="name">Samen</h2>

        <p class="des">
          Wordt fit together!
        </p>

        <div class="btn">
          <button><a href="/error"> Meer Informatie</a></button>
          <button><a href="/overzicht">Zoek buddy</a></button>
        </div>

      </div>
    </div>
  </div>

  <!-- Next prev button -->
  <div class="arrows">
        <button class="prev"> < </button>
        <button class="next"> > </button>
  </div>

  
         <!-- Tijdsbalk bovenin -->
  <div class="timeRunning"></div>
</div>

<marquee loop="-1">Welkom bij FitBuddy – Jouw persoonlijke gids naar een gezonder leven! 🎉
  Sluit je vandaag nog aan en ontdek hoe je jouw fitnessdoelen kunt bereiken met
  op maat gemaakte trainingen en voedingsadvies! 💪 #FitBuddy #GezondLeven
  #FitnessDoelen
</marquee>

<script src="/stylesheets/scripts/banner.js"></script>