<link rel="stylesheet" href="/stylesheets/banner.css" />

<div class="carousel">
    <div class="list">
        <div class="item" style="background-image: url(/stylesheets/images/arms.jpeg);">
            <div class="content">
                <div class="title">SLIDER</div>
                <div class="name">ARMEN</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</div>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/Untitled-14.png);">
            <div class="content">
                <div class="title">CRUNCHES</div>
                <div class="name">YEAH</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</div>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/armsfoto.png);">
            <div class="content">
                <div class="title">ARMS</div>
                <div class="name">Mooie armen</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</div>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/arsms.png);">
            <div class="content">
                <div class="title">MEER ARMEN</div>
                <div class="name">WOW ARMEN</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</div>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/abs.jpeg);">
            <div class="content">
                <div class="title">ABS</div>
                <div class="name">GOEIE SIXPACK</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</div>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/subhaan-saleem-Jf7hr7ZQzg8-unsplash.jpg);">
            <div class="content">
                <div class="title">GEKKE JAHEEM</div>
                <div class="name">Wat een coole gast</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</div>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
        
        <div class="item" style="background-image: url(/stylesheets/images/arsms.png);">
            <div class="content">
                <div class="title">ARMEN+2</div>
                <div class="name">vet gaaf</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsum sunt unde ab vel.</div>
                <div class="btn">
                    <button>See More</button>
                    <button>Maak Een Plan</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Next prev button -->
    <div class="arrows">
        <button class="prev"> Prev </button>
        <button class="next"> next</button>
    </div>

    <!-- Time running -->
    <div class="timeRunning"></div>
</div>

<script src="/stylesheets/scripts/banner.js"></script>
