<link rel="stylesheet" href="/stylesheets/collaps.css" />
<div id="collapsandmap"></div>
<div id="collaps">
  <p class="location">Locations</p>
  <button class="collapsible">Amsterdam</button>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
  <button class="collapsible">Leiden</button>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
  <button class="collapsible">Rotterdam</button>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26305.26515319177!2d4.887011487072169!3d52.37083028519975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1717784695538!5m2!1snl!2snl"
  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<script src="/stylesheets/scripts/collaps.js"></script>
