<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/detailpagina.css">
</head>

<body>
    <%-include ('nav.ejs')%> 

    <main>

        <!-- <button class="terug"> <img src="" alt="#"> </button> -->

            <h2>Trainer profile</h2>

        <div class="profielContainer">
            <div class="profielBox">
                <img src="/stylesheets/images/subhaan-saleem-Jf7hr7ZQzg8-unsplash.jpg" alt="#">
                <h3>Angela</h3>
            </div>
    

      
            <div class="skillList">
                <h3>Skills</h3>
                <ul class="skills">
                    <li>Calisthenics</li>
                </ul>
            </div>
     

            <div class="overMij">
                <h3>About Me</h3>
                <p>Hallo! Mijn naam is Angela, en ik ben een gecertificeerde personal trainer met meer dan 10 jaar
                    ervaring in de fitnessindustrie. Mijn passie is om mensen te helpen hun gezondheids- en
                    fitnessdoelen te bereiken door middel van op maat gemaakte trainingsprogramma's en deskundige
                    begeleiding.</p>
                </div>

                <div class="contactGegevens">
                    <h3>Contact</h3>
                    <a href="">Email</a>
                    <a href="">Phone</a>
                    <a href="">Whatsapp</a>
                   
                </div>
    


        <!-- <div class="containerForm">
            <div class="left">
                <h3 class="heading">Get in touch</h3>
                <p class="text">We are here for you! How can we help?</p>
                <form action="#">
                    <div class="inputBox">
                        <input type="text" name="name" class="name" placeholder="Enter your name">
                    </div>

                    <div class="inputBox">
                        <input type="text" name="email" class="email" placeholder="Enter your email adress">
                    </div>

                    <div class="inputBox">
                        <textarea name="message" class="message" placeholder="Enter your message..."></textarea>
                    </div>

                    <button class="btn">Submit</button>

                </form>
            </div> -->

            <!-- <div class="right">
                <div class="illustration">
                    <img src="/stylesheets/images/workoutbackground3.jpeg" alt="#">
                </div>
                <div class="contact-info">
                    <div class="info-box">
                        <div class="icon">
                            <ion-icon name="location"></ion-icon>
                        </div>
                        <div class="text">
                            <p>123 Street, New York, USA</p>
                        </div>

                        <div class="info-box">
                            <div class="icon">
                                <ion-icon name="call"></ion-icon>
                            </div>
                            <div class="text">
                                <a href="+123-456-789">+123-456-789</a>
                            </div>

                            <div class="info-box">
                                <div class="icon">
                                    <ion-icon name="mail"></ion-icon>
                                </div>
                                <div class="text">
                                    <a href="mailto:Voorbeeld@mail.com">Voorbeeld@mail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- </div> -->


                <!-- <div class="social-icons">
                    <a href="#">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>

                    <a href="#">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>

                    <a href="#">
                        <ion-icon name="instagram"></ion-icon>
                    </a>
                </div> -->

            </div>


    </main>

    <%-include ('footer.ejs')%> 


    <script src="/stylesheets/scripts/detailpagina.js"></script>
</body>

</html>