<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/detailpagina.css">
</head>

<body>
    <%- include('nav.ejs') %>

    <main>
        <h2>Trainer profile</h2>

        <div class="algemeneInformatie">
            <div class="containerProfiel">
                <div class="profileFotoContainer">
                    <img src="/stylesheets/images/trainer3 copy.png" alt="">
                </div>

                <div class="rechts">
                    <div class="naamLocatie">
                        <ul>
                            <li>
                                <h3 class="naam">Naam Persoon</h3>
                            </li>
                            <li>
                                <p class="locatie"><img src="/stylesheets/images/location-pin.png" alt=""> Amsterdam</p>
                            </li>
                        </ul>
                    </div>

                    <div class="contact">
                        <div class="contactLinks">
                            <ul class="contactInfo">
                                <li class="leeftijd">Leeftijd:</li>
                                <li class="geslacht">Geslacht:</li>
                            </ul>
                        </div>
        
                        <div class="contactrechts">
                            <ul class="contactInfo">
                                <li class="leeftijdNummer">24</li>
                                <li class="geslachtMV">Man</li>
                            </ul>
                        </div>
                    </div>

                    <div class="expertiseContainer">
                        <h3>Expertise</h3>
                        <ul class="pills">
                            <li>Sport</li>
                            <li>Sport</li>
                            <li>Sport</li>
                            <li>Sport</li>
                        </ul>
                    </div>

                    <div class="expertiseContainer">
                        <h3>Beschikbaar op:</h3>
                        <ul class="pills">
                            <li>Ma</li>
                            <li>Di</li>
                            <li>Wo</li>
                        </ul>
                    </div>


            
                </div>
        
                </div>
            </div>

            <div class="contactInfoContainer">
                <h3>Contact Informatie</h3>

                <div class="contact">
                    <div class="contactLinks">
                        <ul class="contactInfo">
                            <li class="Tel"><a href="">Telefoonnummer:</a></li>
                            <li class="mail"><a href="">Email: </a></li>
                        </ul>
                    </div>

                    <div class="contactrechts">
                        <ul class="contactInfo">
                            <li class="nummer"><a href="">+3123456789</a></li>
                            <li class="email"><a href="">voorbeeld@email.com </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            

          
        </div>
    </main>

    <%- include('footer.ejs') %>

    <script src="/stylesheets/scripts/detailpagina.js"></script>
</body>

</html>
