<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/detailpagina.css">
</head>

<body>
    <header>
        <!--HamBurger Icon-->
        <div class="bars" id="nav-action">
            <span class="bar"> </span>
        </div>

        <!--Navbar Links-->
        <nav id="nav">
            <ul class="navlist">
                <li class="shape-circle circle-one"><a href="#">Plan Maken</a></li>
                <li class="shape-circle circle-two">
                    <a href="#">Trending Workouts</a>
                </li>
                <li class="shape-circle circle-three"><a href="#">Over Ons</a></li>
                <li class="shape-circle circle-five">
                    <a href="#">Home</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <button class="terug"> <img src="" alt="#"> </button>

        <section>
            <h2>Trainer profiel</h2>
        </section>

        <section>
            <div class="profielBox">
                <img src="#" alt="#">
                <h3>Angela</h3>
            </div>
        </section>


        <section>
            <article class="skillList">
                <h3>Skills</h3>
                <ul class="skills">
                    <li>Calisthenics</li>
                    <li>Weights</li>
                    <li>Rehabilitatie</li>
                </ul>
            </article>
        </section>

        <section>
            <article class="overMij">
                <h3>Over Mij</h3>
                <p>Hallo! Mijn naam is Angela, en ik ben een gecertificeerde personal trainer met meer dan 10 jaar
                    ervaring in de fitnessindustrie. Mijn passie is om mensen te helpen hun gezondheids- en
                    fitnessdoelen te bereiken door middel van op maat gemaakte trainingsprogramma's en deskundige
                    begeleiding.</p>
            </article>
        </section>


        <div class="container">
            <div class="form">
                <div class="contact-info"></div>

                <div class="contact-form">
                    <span class="circle one"></span>
                    <span class="circle two"></span>
                </div>

                <form action="#" method="post">
                    <h3 class="title">Contact mij</h3>

                    <div class="input-container">
                        <input type="text" name="name" class="input">
                        <label for="">Username</label>

                    </div>

                        <div class="input-container">
                            <input type="email" name="email" class="input">
                            <label for="">Email</label>



                        </div>

                        <div class="input-container">
                            <input type="tel" name="telefoonnummer" class="input">
                            <label for="">telefoonnummer</label>


                        </div>


                        <div class="input-container bericht">
                           <textarea name="bericht" class="input"></textarea>
                            <label for="">Stuur een bericht</label>
                    </div>

                    <input type="submit" value="Send" class="button">


                </form>
            </div>
        </div>


    </main>

    <script src="/stylesheets/scripts/overzicht.js"></script>
    <script src="/stylesheets/scripts/index.js"></script>
</body>

</html>