<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/error.css">



<%- include('nav.ejs') %>



<main>
    <section>
        <div class="text"> </div>

        <a href="/"><button>Terug naar homepagina</button></a>
    </section>
</main>

<%- include('footerraha.ejs') %>

<script src="/stylesheets/scripts/error.js"></script>