
<link rel="stylesheet" href="/stylesheets/footer.css">

<footer>
    <div class="footer-content">
        <h3>FitBuddy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus repellat voluptate quia recusandae!</p>
    </div>
</footer>