<link rel="stylesheet" href="/stylesheets/navbar.css" />


<!-- Header die de navigatie en het hamburger-icoon bevat -->
<header>
  <!-- Hamburger-icoon -->
  <div class="bars" id="nav-action">
    <span class="bar"></span>
  </div>
  <!-- Navigatielist -->
  <nav id="nav">
    <ul class="navlist">
      <li class="shape-circle circle-one">
        <a href=/overzicht>Overzicht</a>
      </li>
      <li class="shape-circle circle-two">
<a href="/overzicht">
        Trending Workouts</a>
      </li>
      <li class="shape-circle circle-three">
        <a href="/login">Login</a>
      </li>
      <li class="shape-circle circle-five">
        <a href="/Home"> </a>
      </li>
    </ul>
  </nav>
</header>


<script src="/stylesheets/scripts/index.js"></script>



