<link rel="stylesheet" href="/stylesheets/onzetrainers.css">
<div class="containerTrainers">

    <h3>Onze Trainers</h3>
    <p>Onze trainers het beste van het beste gunnen als het gaat om jouw training</p>

    <div class="cardTrainers">
        <div class="cardTrainer">
            <img src="/stylesheets/images/arsms.jpeg" alt="">
            <h4>Ondersteuning en motivatie</h4>
            <p>FitBuddy biedt op maat gemaakte trainings- </p>
        </div>

        <div class="cardTrainer">
            <img src="/stylesheets/images/arsms.jpeg" alt="">
            <h4>Ondersteuning en motivatie</h4>
            <p>FitBuddy biedt op maat gemaakte trainings- </p>
        </div>

        <div class="cardTrainer">
            <img src="/stylesheets/images/arsms.jpeg" alt="">
            <h4>Ondersteuning en motivatie</h4>
            <p>FitBuddy biedt op maat gemaakte trainings- </p>
        </div>
    </div>
</div>