
<link rel="stylesheet" href="/stylesheets/ourstory.css">
<div class="aboutus">
    <div class="outer">
          
            <h1>The Story Of <br/> <span>FitBuddy</span></h1>
            <p>hier komt een stukje text over waarom we dit page hebben . en heel
              veel bullshitkomt een stukje text over waarom we dit page hebben .hier komt een stukje text over waarom we dit page hebben . en heel
              veel bullshit hahahaha ik moet gewoon veel text hebben so keep writing
              hier komt een omt een stukje text over waarom we dit page hebben .hier komt een stukje text over waarom we dit page hebben . en heel
              veel bullshit hah stukje text over waarom we dit page hebben .hier komt een stukje text over waarom we dit page hebben . en heel
              veel bullshit hahahaha ik moet gewoon veel text hebben so keep writing
              hier komt een stukje text over waarom we dit page hebben .Shadow your real allegiance to New York's Pirate radio with this cool cap featuring the Graphic Know Wave logo.</p>
            
            <div class="button">
              <a class="cart-btn" href="#">ADD TO CART</a>
            </div>
            
    
        <img src="stylesheets/images/goforit.png"  class="animated fadeInRight"></img>
    </div>
    
    </div>