<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Overzicht</title>
    <link rel="stylesheet" href="/stylesheets/overzicht.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <main>


        <div class="card-container">
            <img class="round" src="#" alt="gebruiker">
            <h3>Naam gebruiker</h3>
            <h4>Woonplaats</h4>
            <p>ingevoerde tekst van de gebruiker...</p>
            <button class="meer-info">Meer info</button>
            <div class="skills">
                <h5>skills</h5>
                <ul>
                    <li>Calisthenics</li>
                    <li>Kracht en Conditie</li>
                    <li>Revalidatie</li>
                    <li>Fitness</li>
                    <li>Yoga</li>
                    <li>Free Weights</li>
                </ul>
            </div>
        </div>


    </main>

</body>

</html>