<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Over ons</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/overons.css">
</head>
<body>
    <header>
             <!--HamBurger Icon-->
             <div class="bars" id="nav-action">
                <span class="bar"> </span>
            </div>
    
            <!--Navbar Links-->
            <nav id="nav">
                <ul class="navlist">
                    <li class="shape-circle circle-one"><a href="#">Plan Maken</a></li>
                    <li class="shape-circle circle-two">
                        <a href="#">Trending Workouts</a>
                    </li>
                    <li class="shape-circle circle-three"><a href="#">Over Ons</a></li>
                    <li class="shape-circle circle-five">
                        <a href="#">Home</a>
                    </li>
                </ul>
    </header>

    <main>

        <h2>Over ons</h2>
        <p>kjnlnjnljnlanfnsdkflnsdkfjnaslkfjnaskjf</p>
    </main>


    <script src="/stylesheets/scripts/overzicht.js"></script>
    <script src="/stylesheets/scripts/index.js"></script>
</body>
</html>