<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Over ons</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/overons.css">
</head>
<body>

    <%-include ('nav.ejs')%> 

    <main>
        <h2>Over ons</h2>
        <p>Bij FitBuddy geloven we dat een gezonde levensstijl voor iedereen toegankelijk moet zijn. Wij zijn er om je te ondersteunen op jouw fitnessreis, ongeacht je startpunt of doelstellingen. Ons team van enthousiaste fitnessprofessionals staat klaar om je te begeleiden naar een fitter, gezonder en gelukkiger leven.</p>
    </main>

    <%-include ('footer.ejs')%> 


    <script src="/stylesheets/scripts/overzicht.js"></script>
    <script src="/stylesheets/scripts/index.js"></script>
</body>
</html>