<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Overzicht</title>
    <link rel="stylesheet" href="/stylesheets/overzicht.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <main>


        <div class="search">
            <label for="site-search">Search site:</label>
            <input type="search" name="" id="site-search" name="q">
        </div>

        <section class="resultaten">
            <p>resultaten: 0</p>
        </section>

        <section class="trainer_overzicht">
            <div class="trainer">
                <img src="#" alt="#">
                <h2>naam-trainer</h2>
                <h3>locatie</h3>
                <p>Ik ben Bert Beuningsma en ik ben al 10 jaar lang personal trainer. Ik werk vanuit discipline, dus
                    geen mik mak in mijn trainingssessies.</p>
            </div>

        </section>
    </main>

</body>

</html>