<link rel="stylesheet" href="/stylesheets/workoutslider.css" />
<link rel="stylesheet" href="/stylesheets/styles.css" />


<div class="textsliders">
  <h3>Trending Workouts</h3>

  <!-- <p>
    Ontdek de trending workouts op FitBuddy en geef je fitnessroutine een boost. Van intensieve HIIT-sessies die je vetverbranding maximaliseren, tot ontspannende yoga en pilates voor een betere flexibiliteit en balans. 
  </p>

    <p>Voor kracht en spieropbouw biedt FitBuddy diverse krachttraining-routines, geschikt voor elk niveau. Daarnaast zijn er dynamische bodyweight-oefeningen die je overal kunt doen.</p>

    <p>Met FitBuddy blijf je gemotiveerd en haal je het beste uit jezelf, altijd en overal!</p> -->
</div>

<div class="accordion">
  <ul class="opened">
    <li>
      <div class="close">×</div>
      <div class="background-image"></div>
      <div class="label">Arms</div>
      <div class="teaser">ARMS</div>
      <div class="full-content">
        <a href="#">
          <div class="wrapper">
            <div class="row">
              <div class="col-sm-4">
                <h2>Full Arm workout</h2>
                <p>
                  An beginner workout to boost the energy bla bla bla An
                  begiiner workout to boost the energy bla bla bl An begiiner
                  workout to boost the energy bla bla bla
                </p>
              </div>
              <div class="col-sm-8 text-center">
                <img class="img-responsive" src="http://via.placeholder.com/300x300/fff"
                  alt="http://via.placeholder.com/300x300/fff" />
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>

    <li class="opened no-delay">
      <div class="close">×</div>
      <div class="background-image"></div>
      <div class="label">Abs</div>
      <div class="teaser">Abs</div>
      <div class="full-content">
        <a href="#">
          <div class="wrapper">
            <div class="row">
              <div class="col-sm-4">
                <h2>Your Staff and Trainers</h2>
                <p>
                  An beginner workout to boost the energy bla bla bla An
                  begiiner workout to boost the energy bla bla bl An begiiner
                  workout to boost the energy bla bla bla
                </p>
              </div>
              <div class="col-sm-8 text-center">
                <img class="img-responsive" src="http://via.placeholder.com/300x300/fff"
                  alt="http://via.placeholder.com/300x300/fff" />
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="close">×</div>
      <div class="background-image"></div>
      <div class="label">Legs</div>
      <div class="teaser">Legs</div>
      <div class="full-content">
        <a href="#">
          <div class="wrapper">
            <div class="row">
              <div class="col-sm-4">
                <h4>ABS</h4>
                <p>
                  An beginner workout to boost the energy bla bla bla An
                  begiiner workout to boost the energy bla bla bl An begiiner
                  workout to boost the energy bla bla bla
                </p>
              </div>
              <div class="col-sm-8 text-center">
                <img class="img-responsive" src="http://via.placeholder.com/300x300/fff"
                  alt="http://via.placeholder.com/300x300/fff" />
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>

    <li>
      <div class="close">×</div>
      <div class="background-image"></div>
      <div class="label">Shoulder</div>
      <div class="teaser">Shoulder</div>
      <div class="full-content">
        <a href="#">
          <div class="wrapper">
            <div class="row">
              <div class="col-sm-4">
                <h2>Shoulder</h2>
                <p>
                  An beginner workout to boost the energy bla bla bla An
                  begiiner workout to boost the energy bla bla bl An begiiner
                  workout to boost the energy bla bla bla
                </p>
              </div>
              <div class="col-sm-8 text-center">
                <img class="img-responsive" src="http://via.placeholder.com/300x300/fff"
                  alt="http://via.placeholder.com/300x300/fff" />
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="close">×</div>
      <div class="background-image"></div>
      <div class="label">legs</div>
      <div class="teaser">Legs</div>
      <div class="full-content">
        <a href="#">
          <div class="wrapper">
            <div class="row">
              <div class="col-sm-4"></div>
              <h2>Shoulder</h2>
              <p>
                An beginner workout to boost the energy bla bla bla An begiiner
                workout to boost the energy bla bla bl An begiiner workout to
                boost the energy bla bla bla
              </p>

              <div class="col-sm-8 text-center">
                <img class="img-responsive" src="http://via.placeholder.com/300x300/fff"
                  alt="http://via.placeholder.com/300x300/fff" />
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>
  </ul>
</div>
<script src="/stylesheets/scripts/workoutslider.js"></script>