:root{
    --marquee-width: 100vw;
    --marquee-height: 8vh;
    /* --marquee-elements: 15; */ /* defined with JavaScript */
    --marquee-elements-displayed: 15;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
  }

  .marquee {

    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color:  #f2bf33;
    overflow: hidden;
    position: relative;
  }
  
  .marquee-content {
    list-style: none;
    height:100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    
  }

  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); 
    white-space: nowrap;
  }
  
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 6vh;
      --marquee-elements-displayed: 8;
    }
    .marquee:before, .marquee:after { width: 15rem; }
  }
 


