:root {
    --curve: 10;
}


/* filtering */
.search {
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1em;
    border: none;
}



.pill {
    font-size: 12px;
    padding: 0.5em 1em;
    margin: 2em 1em 0 0;
    border-radius: 1em;
    border: none;
    outline: none;
    background-color: white;
}
.pill:not(.pill--selected):hover {
    background-color: #cccccccc;
}

.pill--selected {
    background-color: rgba(195, 148, 0, 1);
    color: #000000;
}


.beschikbareBuddies {
    color: rgb(135, 135, 135);
    padding-top: 2.1em;
}


/* mobile en default */

    /* alles in het midden krijgen */
   main {
    padding-top: 3em;
    }

    h2 {
        color: white;
        font-size: 3em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    #mainSection {
        margin: 3rem 5vw;
        margin-bottom: 5em;
    }
    
    .kaarten {
        background-color: rgb(31, 31, 31);
        padding: 1.5em 3em 7em 3em;
        margin: 1em 0.2em 1em 0.2em;
        border-radius: 0.4em;
    }


    .kaarten list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin: 3rem 5vw;
        margin-bottom: 5em;
        filter: opacity(50%);
    }

    .kaart {
        position: relative;
        display: block;
        min-height: 100%;
        border-radius: calc(var(--curve) * 1px);
        overflow: hidden;
        margin-top: 2em;
        filter: drop-shadow(rgb(25, 25, 25) 0rem 1rem 20px);
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .banner:hover {
        opacity: 50%;
        transition: .2s ease-in-out;

    }

    /* tekst  */
    .kaart_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border-radius: calc(var(--curve) * 1px);
        transform: translateY(100%);
        transition: .2s ease-in-out;
        background-color: hsl(0, 0%, 30%);
    }

    /* zorgt ervoor dat de descriptie naar boven komt */
    .kaart:hover .kaart_overlay {
        transform: translateY(0);
    }

    .kaart_header {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2em;
        padding: 2em;
        transform: translateY(-100%);
        transition: .2s ease-in-out;
        background-color: hsl(0, 0%, 40%);
        filter: drop-shadow(rgb(25, 25, 25) 0 0.5px 20px);
    }

    .kaart:hover .kaart_header {
        transform: translateY(0);
    }

    .profielfoto {
        flex-shrink: 0;
        background-color: rgb(224, 224, 224);
        width: 50px;
        height: 50px;
        border-radius: 50%;
         filter: drop-shadow(rgb(25, 25, 25) 1px 5px 8px);
    }


    /* alles onder profiel foto */

    .skills-container {
        padding: 0em 2em 2em;
        text-align: left;
        height: 140px;
        overflow: auto;
    }

    .skills-container h4 {
        font-size: 1.1em;
        /* text-transform: uppercase; */
        margin-top: 1em;
    }

    .skills {
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        text-align: left;
    }


    .skills li {
        border: 1px solid hsl(100%, 100%, 100%);
        border-radius: 0.3em;
        padding: 0.5em;
        background-color: rgb(41, 40, 40);
        color: hsl(0, 0%, 100%);

    }


/* Desktop ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



@media only screen and (min-width: 700px) {

    .kaarten {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(2, 1fr);
    }

  .filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .pills {
    display: flex;
    padding-left: 3em;
  }

  .pill{
    margin: 0 1em 0 0;
  }

}


@media only screen and (min-width: 900px) {

    .kaarten {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(3, 1fr);
    }

    

}