
@media screen and (min-width: 0px) {
body {
    /* alles in het midden krijgen */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

h5 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: white;
    width: 300px; 
    max-width: 100%;
    text-align: center;
    padding-top: 0.2em;
    margin: 4em 0 4em 0;
}

.card-container .round {
    border: 2px solid black; 
    background-color: rgb(30, 30, 30);
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white; 
    margin-top: 3em;
}

.meer-info {
    background-color: #F5CE67;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding: 10px 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.skills {
    background-color: rgb(48, 48, 48);
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}


.skills ul li {
    border: 1px solid rgb(105, 103, 103);
    border-radius: 5px;
    display: inline-block;
    margin: 0.3em 0.3em 0 0;
    padding: 5px;
}
}

@media screen and (min-width: 770px) {
    main {
      margin: 3em 3em 3em 3em;
      display: flex;
      flex-wrap: wrap;
      gap: 3em;
    }
  
    .card-container {
      flex: 1 1 calc(25% - 3em); /* Adjusts the width of the first four cards */
    }
  
    .card-container:nth-child(n+5) {
      flex-basis: 100%; /* Makes the cards after the 4th take the full width */
    }
  }
  