.trainer {
    margin: 5em 3em 0em 4em;
    padding-top: 10em;
    background-color: gray;
    border-radius: 0.5em;
}

.trainer h2 {
    color: red;
    margin-left: 1em;
}

.trainer h3 {
    color: red;
    margin-left: 1em;
}