/* Fonts */

@font-face {
    font-family: 'monument extended';
    src: url(public/stylesheets/fonts/MonumentExtended-Regular.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'open sans';
    src: url(public/stylesheets/fonts/21798841561.ttf);
    font-style: normal;
    font-weight: 100;
}


@font-face {
    font-family: 'open sans bold';
    src: url(public/stylesheets/fonts/23165521968.ttf);
    font-style: bold;
    font-weight: 100;
}

@font-face {
    font-family: 'open sans italics';
    src: url(public/stylesheets/fonts/20007011713.ttf);
    font-style: bold;
    font-weight: 100;
}

/* ////////////////////////////////////////////////////////////////////// */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 28);
   /* background-image: linear-gradient(150deg, #545A9C, black); */
}

p {
    font-family: open sans, sans-serif;
}

h1 {
    font-family: open sans bold, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: open sans bold, sans-serif;
}

h4 {
    font-family: open sans bold, sans-serif;
}

h5 {
    font-family:open sans bold, sans-serif;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
   text-decoration: none;
   cursor: pointer;
}

/* button styling */


button:hover{
    cursor: pointer;
}



