

:root {
    --tekst: white;
    --accent-kleur: #f2bf33;
    --main-tint: #282828;
    --main-tint2: #3a3a3a;
    --accent-kleur2: #4D4D4D;
    --accent-kleur3: #666666;
    color-scheme: dark; /*  Donkere scroll bar*/
}


body {
      overflow-x: hidden; /* Hide horizontal scrollbar */
}
@font-face {
    font-family: 'monument extended';
    src: url(public/stylesheets/fonts/MonumentExtended-Regular.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'open sans';
    src: url(public/stylesheets/fonts/21798841561.ttf);
    font-style: normal;
    font-weight: 100;
}


@font-face {
    font-family: 'Raleway' ;
    src: url(public/stylesheets/fonts/Raleway);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'open sans bold';
    src: url(public/stylesheets/fonts/23165521968.ttf);
    font-style: bold;
    font-weight: 100;
}

@font-face {
    font-family: 'open sans italics';
    src: url(/stylesheets/fonts/20007011713.ttf);
    font-style: bold;
    font-weight: 100;
}

/* ////////////////////////////////////////////////////////////////////// */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
}

p {
    font-family: Raleway, sans-serif;
    color: var(--tekst);
}

/* Headings */

h1 {
    font-family: open sans bold, Helvetica, sans-serif;
}

h2 {
    font-family:  monument extended, sans-serif;
}

h3 {
    font-family: monument extended, sans-serif;
    color: var(--tekst);
}

h4 {
    font-family: monument extended, sans-serif;
}



li {
    list-style-type: none;
    font-family: Raleway, sans-serif;
    font-style: bold;
    color: var(--tekst);
}

a {
    color: var(--tekst);
   text-decoration: none;
   cursor: pointer;
}

marquee {
    font-family: monument extended, sans-serif;
}

/* button styling */

button {
    font-family:   open sans build, sans-serif;
}

button:hover{
    cursor: pointer;
}

.back {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-kleur);
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    transition: .5s;
}

.back:hover {
    background: #fff;
    color: black;
   }


/* Animations */

@keyframes fade-inout {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
