

:root {
    --tekst: white;
    --accent-kleur: #f2bf33;
    --main-tint: #282828;
    --main-tint2: #3a3a3a;
    --accent-kleur2: #4D4D4D;
    --accent-kleur3: #666666;
    color-scheme: dark; /*  Donkere scroll bar*/
}


body {
      overflow-x: hidden; /* Hide horizontal scrollbar */
}
@font-face {
    font-family: 'monument extended';
    src: url(public/stylesheets/fonts/MonumentExtended-Regular.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'open sans';
    src: url(public/stylesheets/fonts/21798841561.ttf);
    font-style: normal;
    font-weight: 100;
}


@font-face {
    font-family: 'open sans bold';
    src: url(public/stylesheets/fonts/23165521968.ttf);
    font-style: bold;
    font-weight: 100;
}

@font-face {
    font-family: 'open sans italics';
    src: url(public/stylesheets/fonts/20007011713.ttf);
    font-style: bold;
    font-weight: 100;
}

/* ////////////////////////////////////////////////////////////////////// */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
   /* background-image: linear-gradient(150deg, #545A9C, black); */
}

p {
    font-family: "Raleway", sans-serif;
    color: var(--tekst);
}

h1 {
    font-family: open sans bold, Helvetica, sans-serif;
}

h2 {
    font-family:  monument extended, sans-serif;
}

h3 {
    font-family: monument extended, sans-serif;
    color: var(--tekst);
}

h4 {
    font-family: monument extended, sans-serif;
}

h5 {
    font-family:open sans bold, sans-serif;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--tekst);
}

a {
    color: var(--tekst);
   text-decoration: none;
   cursor: pointer;
}

marquee {
    font-family: monument extended, sans-serif;
}

/* button styling */

button {
    font-family:   open sans build, sans-serif;
}

button:hover{
    cursor: pointer;
}




/* Animations */

@keyframes fade-inout {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
