

.containerCard {
    margin-top: 5em;
    margin: 4em;
    
}

.cards {
   margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;

}

.card {
    background-color: rgb(40, 40, 40);
    height: 20em;
    width: 100%;
    border-radius: 0.3em;
}